#include "../Flutter/Generated.xcconfig"

APPLICATION_EXTENSION_API_ONLY = YES
CODE_SIGN_ENTITLEMENTS = PlayerWidget/PlayerWidget.entitlements
CODE_SIGN_STYLE = Automatic
INFOPLIST_FILE = PlayerWidget/Info.plist
IPHONEOS_DEPLOYMENT_TARGET = 17.0
LD_RUNPATH_SEARCH_PATHS = $(inherited) @executable_path/Frameworks @executable_path/../../Frameworks
PLAYER_WIDGET_APP_GROUP = group.com.zarz.spotiflac
PRODUCT_BUNDLE_IDENTIFIER = com.zarz.spotiflac.PlayerWidget
PRODUCT_NAME = $(TARGET_NAME)
SKIP_INSTALL = YES
SWIFT_ACTIVE_COMPILATION_CONDITIONS = $(inherited) PLAYER_WIDGET_EXTENSION
SWIFT_VERSION = 5.0
TARGETED_DEVICE_FAMILY = 1,2
